
<div class="container">
  <h2> PDX Propertez </h2>
  <h3> Air Conditioning! Toilets! (its Portland, you think you can have <em>both</em> nowadays? Dream On!)</h3>

  <div class='row popular-images'>
    <% @popular_yards[0..1].each do |listing| %>
    <div class='col-md-4 col-md-offset-1'>
      <%= link_to listing_path(listing) do %>
      <%= image_tag listing.image.url(:medium), class: "img-circle popular-image" %>
      <% end %>
    </div>
    <% end %>
  </div>

  <% if @popular_yards.length > 1 %>
  <div class='row popular-images'>
    <% @popular_yards[2..3].each do |listing| %>
      <div class='col-md-4 col-md-offset-1'>
      <%= link_to listing_path(listing) do %>
        <%= image_tag listing.image.url(:medium), class: 'img-circle popular-image' %>
        <% end %>
      </div>
      <% end %>

    </div>
    <% end %>
  </div>
