<p>Hello <%= @resource.email %>!</p>

<p>Looks like you have requested a change to your password. Paranoid much? You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email, and think about the fact that someone is trying to hack into your garbage.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
